@use '../../../styles/edit';

.panel--exp {
  gap: 20px;
  padding: 32px;
  flex: 1;
}

.field__label {
  font-size: 12px;
}

.field__control--exp-ta {
  min-height: 100px;
  height: 100px;
}

.field__control--exp-ta textarea {
  height: 100%;
  resize: vertical;
}

.edit__btn--save {
  padding: 12px 18px;
}

@media (max-width: 900px) {
  .field-row {
    grid-template-columns: 1fr;
  }
}
